<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node.js Basic</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Sản phẩm</a>
        <a href="">News</a>
    </div>
    <div class="create-user-container">
        <form action="/update-sanpham" enctype="multipart/form-data" method="POST">
            <div><b>Cập nhật sản phẩm:</b></div>
            <div>
                <label for="">Tên sản phẩm:</label>
                <input type="text" name="MaSanPham" hidden value="<%=SanPham.MaSanPham%>" />
                <input type="text" name="TenSanPham" value="<%=SanPham.TenSanPham%>" />
            </div>
            <div>
                <label for="">Gía: </label>
                <input type="text" name="Gia" value="<%=SanPham.Gia%>" />
            </div>
            <div>
                <label for="">Số lượng : </label>
                <input type="text" name="SoLuong" value="<%=SanPham.SoLuong%>" />
            </div>
            <div>
                <label for="">Tên Nhà sản xuất : </label>
                <input type="text" name="TenNXS" value="<%=SanPham.TenNXS%>" />
            </div>
            <div>
                <label for="">Thể loại : </label>
                <input type="text" name="Theloai" value="<%=SanPham.Theloai%>" />
            </div>
            <div>
                <label for="">Ảnh:</label>
                <input type="file" name="profile_pic" value="<%=SanPham.Mota%>" />
            </div>
            <div>
                <button type="submit" class="btnSubmit">Save</button>
            </div>
        </form>
    </div>
</body>

</html>