<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create new user </a>
    </div>

    <div class="table-container">

        <div class="Title">List User</div>
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th>Số Lượng</th>
            <th>Hành động</th>
        </tr>

        <ul class="timeline">
            <!-- <% for (let i=0; i < listusers.length; i++) { %>
                    <tr>
                        <td><%= listusers[i].id %></td>
                        <td><%= listusers[i].email %></td>
                        <td><%= listusers[i].name %></td>
                        <td><%= listusers[i].city%></td>
                        <td>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                    <% } %> -->

            <!-- dùng hàm foreach để load dữ liệu cho tường minh và gọn code -->

            <% listusers.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.Tensanpham %>
                    </td>
                    <td>
                        <%= user.Mota %>
                    </td>
                    <td>
                        <%= user.Gia%>
                    </td>
                    <td>
                        <%= user.Soluong%>
                    </td>
                    <td>
                        <a href="/update/<%= user.id %>">Edit</a>

                        <form action="/delete-user/<%= user.id %>" method="post">
                            <button>Delete</button>
                        </form>

                    </td>
                </tr>
                <% }); %>
        </ul>
    </table>

<!-- <%= JSON.stringify(userEdit) %> -->
    <!-- Chức năng tạo mới user -->
    <div class="form">

        <form action="/update-user" method="post">

            <fieldset>
                <legend><b> Update sản phẩm </b></legend>
                <div class="input-group d-none">
                    <label>ID</label>
                    <input type="text" name="userId" value="<%= userEdit.id %>">
                
                </div>
                <div class="input-group">
                    <label>Tên sản phẩm</label>
                    <input type="text" name="Tensanpham" value="<%= userEdit.Tensanpham %>">

                </div>
                <div class="input-group">
                    <label>Mô tả : </label>
                    <input type="text" name="Mota" value="<%= userEdit.Mota %>">

                </div>

                <div class="input-group">
                    <label>Giá</label>
                    <input type="text" name="Gia" value="<%= userEdit.Gia %>">

                </div>
                <div class="input-group">
                    <label>Soluong</label>
                    <input type="text" name="Soluong" value="<%= userEdit.Soluong %>">

                </div>


                <div class="button-add">
                    <button>Save</button>

                </div>
            </fieldset>
        </form>

</body>

</html>