<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>



    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="">Create new user </a>
    </div>

    <div class="table-container">
        
        <div class="Title">List User</div>
    </div>

        <table>
            <tr>
                <th>ID</th>
                <th>Tên sản phẩm</th>
                <th>Mô tả</th>
                <th>Giá</th>
                <th>Số Lượng</th>
                <th>Hành động</th>
            </tr>
            
            <ul class="timeline">

                    <!-- dùng hàm foreach để load dữ liệu cho tường minh và gọn code -->

                    <% listusers.forEach(function(user) { %>
                        <tr>
                            <td>
                                <%= user.id %>
                            </td>
                            <td>
                                <%= user.Tensanpham %>
                            </td>
                            <td>
                                <%= user.Mota %>
                            </td>
                            <td>
                                <%= user.Gia%>
                            </td>
                            <td>
                                <%= user.Soluong%>
                            </td>
                            <td>
                                <a href="/update/<%= user.id %>">Edit</a>
                                
                                <form action="/delete-user/<%= user.id %>" method="post">
                                    <button>Delete</button>
                                </form>
                                
                            </td>
                        </tr>
                        <% }); %>
            </ul>
        </table>


        <!-- Chức năng tạo mới user -->
        <div class="form">

        <form action="/create-user" method="post">

            <fieldset>
                <legend><b> Tạo mới sản phẩm : </b></legend>
                <div class="input-group">
                    <label>Tên sản phẩm</label>
                    <input type="text" name="Tensanpham">

                </div>
                <div class="input-group">
                    <label>Mô tả : </label>
                    <input type="text" name="Mota">

                </div>

                <div class="input-group">
                    <label>Giá</label>
                    <input type="text" name="Gia">

                </div>
                <div class="input-group">
                    <label>Soluong</label>
                    <input type="text" name="Soluong">
                
                </div>


                <div class="button-add">
                    <button>Save</button>

                </div>
            </fieldset>
        </form>

</body>
</html>