
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>



    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create new user </a>
    </div>

    <div class="table-container">

        <div class="Title">List User</div>
    </div>

    <table>
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tên nhà sản xuất</th>
            <th>Thể loại</th>
            <th>Actions</th>
        </tr>

        <ul class="timeline">

            <% listusers.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.MaSanPham%>
                    </td>
                    <td>
                        <%= user.TenSanPham%>
                    </td>
                    <td>
                        <%= user.Mota%>
                    </td>
                    <td>
                        <%= user.Gia%>
                    </td>
                    <td>
                        <%= user.SoLuong%>
                    </td>
                    <td>
                        <%= user.TenNXS%>
                    </td>
                    <td>
                        <%= user.Theloai%>
                    </td>
                    <td>
                        <a href="/detail/user/<%= user.MaSanPham%>" target="_blank">Detail</a><br>
                        <form action="/update-user/<%= user.MaSanPham%>" method="get">
                            <button type="submit">Edit</button>
                        </form>

                        <form action="/delete-user" method="post">
                            <input type="text" hidden value="<%= user.MaSanPham%>" name="userid">
                            <button type="submit">Delete</button>
                        </form>

                    </td>
                </tr>
                <% }); %>
        </ul>
    </table>


    <div class="update-user-container">
        <form action="/update-user" method="post">
            <div class="tieude">UPDATE A NEW USER</div>
            <div>

                <label>Ten san pham : </label>
                <input name="TenSanPham" value="<%= userEdit.TenSanPham%>">
            </div>
            <div>
                <label>Mô tả :  </label>
                <input name="Mota" value="<%= userEdit.Mota%>">
            </div>
            <div>
                <label>Gia : </label>
                <input name="Gia" value="<%= userEdit.Gia%>">
            </div>
            <div>
                <label>Số lượng : </label>
                <input name="SoLuong" value="<%= userEdit.SoLuong%>">
            </div>
            <div>
                <label>Tên nhà sản xuất : </label>
                <input name="TenNXS" value="<%= userEdit.TenNXS%>">
            </div>
            <div>
                <label>Thể loại :  </label>
                <input name="Theloai" value="<%= userEdit.Theloai%>">
            </div>
            <input type="text" value="<%= userEdit.MaSanPham%>" hidden name="MaSanPham">
            <div>
                <button type="submit" class="btn-save">Save</button>
            </div>
        </form>
    </div>


</body>

</html>