<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>



    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create new user </a>
    </div>

    <div class="table-container">
        
        <div class="Title">List User</div>
    </div>

        <table>
            <tr>
                <th>Mã Sản Phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Mô tả</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tên nhà sản xuất</th>
                <th>Thể loại</th>
                <th>Actions</th>
            </tr>
            
            <ul class="timeline">
                <!-- <% for (let i=0; i < listusers.length; i++) { %>
                    <tr>
                        <td><%= listusers[i].id %></td>
                        <td><%= listusers[i].email %></td>
                        <td><%= listusers[i].name %></td>
                        <td><%= listusers[i].city%></td>
                        <td>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                    <% } %> -->

                    <!-- dùng hàm foreach để load dữ liệu cho tường minh và gọn code -->

                    <% listusers.forEach(function(user) { %>
                        <tr>
                            <td>
                                <%= user.MaSanPham %>
                            </td>
                            <td>
                                <%= user.TenSanPham %>
                            </td>
                            <td>
                                <%= user.Mota %>
                            </td>
                            <td>
                                <%= user.Gia%>
                            </td>
                            <td>
                                <%= user.SoLuong%>
                            </td>
                            <td>
                                <%= user.TenNXS%>
                            </td>
                            <td>
                                <%= user.Theloai%>
                            </td>
                            
                            <td>
                                <a href="/detail/user/<%= user.MaSanPham%>" target="_blank">Detail</a><br>
                                <form action="/update-user/<%= user.MaSanPham%>" method="get">
                                    <button type="submit">Edit</button>
                                </form>
                                
                                <form action="/delete-user" method="post">
                                    <input type="text" hidden value="<%= user.MaSanPham%>" name="userid">
                                    <button type="submit">Delete</button>
                                </form>
                                
                            </td>
                        </tr>
                        <% }); %>
            </ul>
        </table>


        <div class="creat-user-container">
            <form action="/create-new-user"  method="post">
            <div class="tieude">CREATE A NEW USER</div>
            <div>
                <label>Tên sản phẩm : </label>
                <input type="text" name="TenSanPham">
            </div>
            <div>
                <label>Mô tả : </label>
                <input type="text" name="Mota">
            </div>
            <div>
                <label>Giá </label>
                <input type="text" name="Gia">
            </div>
            <div>
                <label>Số lượng </label>
                <input type="text" name="SoLuong">
            </div>
            <div>
                <label>Tên Nhà sản xuất:  </label>
                <input type="text" name="TenNXS">
            </div>
            <div>
                <label>Thể loại </label>
                <input type="text" name="Theloai">
            </div>

            <div>
                <button type="submit" class="btn-submit">Submit</button>
            </div>
                
                
            </form>
        </div>
    

</body>
</html>